h1{font-family: "Lucida Grande", sans-serif;
  color: white; 
  background-color: black;
	font-size: 64px; 
	text-align: center;
  }
  
 h2{font-family: "Lucida Grande", sans-serif;
  color: white; 
  background-color: black;
	font-size: 30px; 
	text-align: center;
  }
